.container{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: coral;
  padding: 30px;
}

.button{
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  border-radius: 6px;
}